[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-bcrypt = "*"
requests = "*"
gunicorn = "*"
flask-wtf = "*"
email-validator = "*"
flask-paginate = "*"
flask-migrate = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
