<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="The place to learn Spanish.">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %} : esp2eng.tk</title>

  </head>

  <body>

    <noscript>
      <p style="color:#FC0000;text-align:center">Please enable Javascript</p>
    </noscript>

    <div class="page">

    <!-- START header -->

      <header>

        <div class="hamburger">
          <div class="hamburger__button">
          </div>
        </div>

        <nav>

          <ul class="menu">

            <li class="menu__item"><a class="menu__link" href="{{ url_for('main.index') }}">home</a></li>
            {% if current_user.is_authenticated %}
              <li class="menu__item"><a class="menu__link" href="{{ url_for('main.vocabulary') }}">vocabulary</a></li>
              <li class="menu__item"><a class="menu__link" href="{{ url_for('main.display_user_words') }}">my words</a></li>
              <li class="menu__item"><a class="menu__link" href="{{ url_for('main.add_word') }}">add word</a></li>
              <li class="menu__item"><a class="menu__link" href="{{ url_for('auth.profile') }}">profile</a></li>
              <li class="menu__item"><a class="menu__link" href="{{ url_for('auth.logout') }}">logout</a></li>
              {% if user_initials %}
                <div class="menu__user__initials">
                  <span class="initials">
                  {{ user_initials }}
                  </span>
                </div>
              {% endif %}
            {% else %}
              <li class="menu__item"><a class="menu__link" href="{{ url_for('auth.sign_up') }}">signup</a></li>
              <li class="menu__item"><a class="menu__link" href="{{ url_for('auth.login') }}">login</a></li>
            {% endif %}

          </ul>

        </nav>

      </header>

      <!-- END header -->

      <!-- START main -->

      <main>

        {% with messages = get_flashed_messages(with_categories=True) %}

          {% if messages %}

            {% for category, message in messages %}

              <div class="message message--{{ category }}">
                <p class="message__text">{{ message }}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
              </div>

            {% endfor %}

          {% endif %}

        {% endwith %}
        
        {% block content %}

        {% endblock %}

        {% if request.endpoint == 'main.vocabulary' %}

          <div class="page__navigation">

            {% if words %}

              {% if words.has_prev %}
                <a class="page__navigation__link arrow" href="{{ url_for('main.vocabulary', page=words.prev_num) }}">&#171;</a>
              {% endif %}

              {% for page_num in words.iter_pages() %}

                {% if page_num %}
                  <a class="page__navigation__link" href="{{ url_for('main.vocabulary', page=page_num) }}">{{ page_num }}</a>
                {% endif %}

              {% endfor %}

              {% if words.has_next %}
                <a class="page__navigation__link arrow"  href="{{ url_for('main.vocabulary', page=words.next_num) }}">&#187;</a>
              {% endif %}

            {% endif %}

          </div>

        {% endif %}

      </main>

      <!-- END main -->

      <!-- START footer -->

      <footer>

        <div class="footer__container">

          <div class="footer__logo">
            <img src="{{ url_for('static', filename='images/logo-w-500x500.png') }}">
          </div>

          <p class="footer__link">Created by <a class="footer__anchor" target="_blank" rel="noreferrer" href="https://brandonwallace.cc">brandon wallace</a></p>

        </div>
  
      </footer>

    <!-- END footer -->

    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    
  </body>

</html>
