@font-face {
  font-family: 'RampageKid';
  src: url('../fonts/RampageKid.otf') format('opentype'),
       url('../fonts/RampageKid.ttf') format('truetype');
}

:root {
    --bg: #DDDDDD;
    --fg: #333333;
    --anchor-link: #0066FF;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    color: var(--fg, #DDDDDD);
    font-family: monospace, monospace;
    background-color: var(--bg, #333333);
}

article {
    min-height: 100%;
    position: relative;
}

main {
    width: 100%;
}

.home__page {
    width: 100%;
    height: 100%;
    padding-bottom: 200px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #FDFDFD), color-stop(50%, #FF4040));
    background: -o-linear-gradient(top, #FDFDFD 50%, #FF4040 50%);
    background: linear-gradient(to bottom, #FDFDFD 50%, #FF4040 50%);
}

.home__page__header {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 700px;
    box-sizing: border-box;
}

.header-p {
    margin-bottom: 0;
}

.login__page {
}

.signup__page {
}

a {
    text-decoration: none;
    color: var(--fg, #333333);
    background-color: transparent;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

h1, h2, h3,
h4, h5, h6 {
    margin: 0;
    color: #000000;
}

button {
    border: 0;
    background-color: transparent;
}

header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background-color: #F7D800;
}

nav {
    display: none;

}

.hamburger {
    z-index: 10;
    width: 80px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    background-color: transparent;
}

.hamburger__button {
    width: 50px;
    height: 6px;
    border-radius: 5px;
    background-color: var(--fg, #333333);
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.hamburger__button::before,
.hamburger__button::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    border-radius: 5px;
    background-color: #333333;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.hamburger__button::before {
  -webkit-transform: translateY(-16px);
      -ms-transform: translateY(-16px);
          transform: translateY(-16px);
}

.hamburger__button::after {
  -webkit-transform: translateY(16px);
      -ms-transform: translateY(16px);
          transform: translateY(16px);
}

.hamburger.open .hamburger__button {
  -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
          transform: translateX(-20px);
  background: transparent;
}

.hamburger.open .hamburger__button::before {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg) translate(15px, -15px);
      -ms-transform: rotate(45deg) translate(15px, -15px);
          transform: rotate(45deg) translate(15px, -15px);
}

.hamburger.open .hamburger__button::after {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-45deg) translate(15px, 15px);
      -ms-transform: rotate(-45deg) translate(15px, 15px);
          transform: rotate(-45deg) translate(15px, 15px);
}

.message {
    width: 100%;
    border: solid;
    margin: 0 auto;
    max-width: 520px;
    font-weight: bold;
    line-height: 40px;
    border-radius: 4px;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.message--fail {
    color: #4A0101;
    background-color: hsl(0, 100%, 70%);
}

.message--success {
    color: #000000;
    background-color: hsl(202, 100%, 70%);
}

.message--warning {
    color: #1002D9;
    background-color: hsl(123, 100%, 70%);
}

.message--info {
    color: #1002D9;
    background-color: hsl(75, 100%, 70%);
}

.form__container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

form {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    max-width: 500px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.form__div {
    padding: 1rem;
    margin-bottom: 1rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid var(--fg, #333333);
}

.form__div label {
    display: block;
    margin: 0 0 8px 0;
}

.form--wide {
    max-width: 900px;
}

.form__input {
    width: 100%;
    height: 50px;
    display: block;
    padding: 0 .5rem;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: inherit;
    margin-bottom: .5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid var(--fg, #333333);
}

.password__field {
    letter-spacing: 4px;
    font-size: 1.5rem;
}

.bttn {
    border: 0;
    width: 100%;
    display: block;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: inherit;
    letter-spacing: 2.5px;
    background-color: #0066FF;
    text-transform: uppercase;
    border: 2px solid var(--fg, #333333);
}

.page__navigation {
    display: flex;
    height: 200px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 300px;
}

.page__navigation__link {
    padding: 1rem;
    margin-right: 10px;
    border: 3px solid dodgerblue;
}

footer {
    bottom: 0;
    width: 100%;
    display: flex;
    height: 300px;
    color: #FFFFFF;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    background-color: dodgerblue;
}

.footer__logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
}

.footer__logo img {
    width: 100%;
    height: auto;
    max-width: 200px;
}

.footer__link {
    margin: 0;
    text-align: center;
}

.footer__anchor {
    text-decoration: underline;
}

.menu {
    margin: 0;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #F7D800;
    width: 100vw;
    height: 100vh;
}

.menu__item {
    margin: 0;
    padding: 2rem;
    font-size: 3rem;
}

.menu__link {
    padding: .5rem 1rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: var(--fg, #333333);
    text-decoration: underline;
}

.page__header-1 {
    color: #1DE800;
    font-size: 5rem;
    margin: 0 auto;
    max-width: 450px;
    text-align: center;
    font-style: italic;
    -webkit-transform: rotate(-4deg);
        -ms-transform: rotate(-4deg);
            transform: rotate(-4deg);
    font-family: 'RampageKid', cursive;
    text-shadow: 1.5px 1.5px 0 #372a2a,
                -1.5px 1.5px 0 #4a0202, 
                1.5px -1.5px 0 #1e0101, 
               -1.5px -1.5px 0 #2d0000, 
                     2px 2px 0 #170101,
                     3px 3px 0 #350000,
                     4px 4px 0 #2b2a2a;
}

.page__header-2 {
    color: #1DE800;
    font-size: 4rem;
    margin: 0 auto;
    max-width: 350px;
    font-style: italic;
    -webkit-transform: rotate(-4deg);
        -ms-transform: rotate(-4deg);
            transform: rotate(-4deg);
    font-family: 'RampageKid', cursive;
    text-shadow: 1.5px 1.5px 0 #372a2a,
                -1.5px 1.5px 0 #4a0202, 
                1.5px -1.5px 0 #1e0101, 
               -1.5px -1.5px 0 #2d0000, 
                     2px 2px 0 #170101,
                     3px 3px 0 #350000,
                     4px 4px 0 #2b2a2a;
}

.header-4 {
    margin-top: 1rem;
    text-align: center;
}

.agreement {
    margin: 0 auto;
    max-width: 800px;
}

.words {
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.word__header {
}

.word__div {
    padding: 0 .5rem;
    border-radius: 4px;
    margin-bottom: .5rem;
    border: 2px solid green;
    background-color: #B0FBB0;
}

.word__tile {
    width: 100%;
    padding: .5rem;
    max-width: 800px;
    margin: 15px auto;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #CCCCCC;
    border: 3px solid purple;
}

.word__title {
    margin: 8px 0;
}

.word-definitions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.word-definition {
    width: 100%;
    color: #000000;
    padding: .25rem 1rem;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: .25rem 0;
    border: 2px solid green;
}

.show-translation-bttn {
    margin: 0 auto;
    padding: .5rem 0;
    max-width: 400px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.hidden {
    display: none;
    color: #777777;
}

.word__footer {
}

@media only screen and (min-width: 500px) {
    .page__header-2,
    .page__subheader {
        text-align: center;
    }
}

@media only screen and (min-width: 750px) {
    nav {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
    .menu {
        width: unset;
        height: unset;
        position: unset;
        padding: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .menu__link {
        font-size: 1.5rem;
    }

    .menu__item {
        padding: 0;
    }
    .word-definition {
        margin: .25rem;
    }
    footer {
        flex-direction: row;
        line-height: 300px;
    }
}

@media only screen and (min-width: 800px) {
    nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .page__header-1 {
        font-size: 7rem;
    }
    .word-definitions {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .footer__logo {
        width: unset;
    }
}

.bttn--large {
    height: 50px;
}

.header-2 {
    text-align: center;
    margin-top: 1rem;
}

.page__subheader {
    margin: 8px 10px;
}

.sans--serif {
    font-family: sans-serif;
}

.anchor__link {
    text-decoration: underline;
}
