{# application/templates/auth/login.html #}

{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}

  <section class="form__container login__page">

    <h1 class="page__header-2">Esp<span class="sans--serif">2</span>Eng<span class="sans--serif">!</span></h1>

    <h2 class="page__subheader">login</h2>

    <form action="{{ url_for('auth.login') }}" method="POST">
 
      {{ form.csrf_token }}
      {{ form.email(class_="form__input", placeholder="Enter Email", autofocus=True) }}
      {{ form.password(class_="form__input passwd__field", placeholder="Enter Password") }}
      {{ form.submit(class_="bttn bttn--large") }}

    </form>

  </section>

{% endblock %}
