{# application/templates/main/index.html #}

{% from 'macros.html' import displayField %}

{% extends "layout.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}

  <section class="form__container signup__page">

    <h1 class="page__header-2">Esp<span class="sans--serif">2</span>Eng<span class="sans--serif">!</span></h1>

    <h2 class="page__subheader">sign up</h2>

    <form action="{{ url_for('auth.sign_up') }}" method="POST">

      {{ form.csrf_token }}
      {{ displayField(form.username, "Username*", autofocus=true) }}
      {{ displayField(form.firstname, "First Name*") }}
      {{ displayField(form.lastname, "Last Name*") }}
      {{ displayField(form.email, "Enter Email*") }}
      {{ displayField(form.password, "Enter Password*", class="form__input passwd__field") }}
      {{ displayField(form.confirm_password, "Re-Enter Password*", class="form__input passwd__field") }}
      {#
      <p>
        {% for error in form.recaptcha.errors %}
            {{ error }}
        {% endfor %}
        {{ form.recaptcha }}
      </p>
      #}
      {{ form.submit(class_="bttn bttn--large") }}
      <p class="form__agreement">By clicking Sign Up, I agree to the Esp2eng
      <a class="login__link anchor__link" href="{{ url_for('auth.terms_of_service') }}">Terms of Service</a> and 
      <a class="login__link anchor__link" href="{{ url_for('auth.privacy_policy') }}">Privacy Policy</a>.
      </p>

      <p>Already have an account? <a class="anchor__link" href="{{ url_for('auth.login') }}">Login</a></p>

    </form>

  </section>

{% endblock %}
