{% extends "layout.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

  <h2 class="page__header-2">Esp<span class="sans--serif">2</span>Eng<span class="sans--serif">!</span></h2>

  <div class="words">

    {% if words %}

      {% for word in words.items %}

        <div class="word__list">

          <div class="word__content">

            <div class="word__header">
                <h2 class="word__title"><a class="underline" href="{{ url_for('main.display_word', word_id=word.id) }}">{{ word.word_es }}</a></h2>
            </div>

          </div>

        </div>

      {% endfor %}

    {% endif %}

  </div>

{% endblock %}
